@model SIMA_SOFTWARE.Models.ViewModels.ProductoViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<main class="main-content">
    <div class="custom-card p-4">

        <h3 class="text-danger mb-3">¿Eliminar producto?</h3>
        <p class="text-secondary mb-4">
            Se eliminara del catalogo actual de productos
        </p>

        <p class="text-light"><strong>Nombre:</strong> @Model.Nombre</p>
        <p class="text-light"><strong>Precio:</strong> $ @Model.Precio.ToString("N0")</p>

        @if (!string.IsNullOrEmpty(Model.UrlImagenExistente))
        {
            <div class="mb-3">
                <img src="@Model.UrlImagenExistente"
                     style="max-width:200px; border-radius:10px;" />
            </div>
        }

        <form asp-action="Delete" method="post" class="mt-4">
            <input type="hidden" name="id" value="@Model.IdProducto" />

            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-danger">
                    🗑 Eliminar
                </button>

                <a asp-action="Index" class="btn btn-secondary">
                    Cancelar
                </a>
            </div>
        </form>

    </div>
</main>
